
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand:  'Quicksand', sans-serif;
    --Roboto:  'Quicksand', sans-serif;
    --dark: #3c393d;
    --exDark: #2b2b2b;
}
.loading{
    margin: 0 auto;
    position: fixed;
    background-color:#000000e6 ;
    width: 100%;
    height: 100%;
    z-index: 999;
    animation: fadeOut 2s ;
    animation-fill-mode: forwards ;
}
.dot{
    border: 5px solid black;
    border-radius: 50px;
    width: 100px;
    height: 100px;

}
.main{
    margin: 15rem auto;
    display: flex;
    justify-content: center; /* bu codlar loaderni urtaga keltiradi*/
}
.dot2{
    border: 5px solid slategrey;
    border-radius: 50px;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: -5px -5px;
    border-left-color: transparent;
    border-top-color: transparent;
    animation: loader 1s linear; /*bunga loader quyilmasa ishlamaydi yani har bir narsani animatsiyasini nimaga berilayotganini bildirish*/
    animation-iteration-count: infinite ;    /*bu cod istagancha ayalnadi degan ma'noni bildidradi yani loaderniki*/
}
@keyframes loader{
    100%{
        transform: rotate(360deg);/* deg nu gradus degan manoni bildiradi*/
    }
}

@keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;

    }
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:  var(--Quicksand);
} 
body{
    line-height: 1.4;
    color: var (var--dark);
    overflow-x: hidden;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2 rem;
}
/* Header  styling start */
header{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)), url(images/Hacker-silhouette.jpg  ) center/cover no-repeat fixed ;
   
}
.navbar{
    background: rgba(0, 0,0,0.6);
    padding: 1.2rem;
}
.navigation{
    display: flex;
    justify-content: space-between;

}
.navigation .logo a{
    color: #fff;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    font-family: var(--Playfair);
    letter-spacing: 1px;

   
}
.navbar-nav{
    padding: 0.8rem 0 0.2rem  0;
    

}
.navbar-nav a{
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 3px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    transition: opacity 0.4s ease;


}
.navbar-nav a:hover{
    opacity: 0.7;
}
.banner{
    display: flex;
    justify-content: center;
    text-align:center;
    color: #fff;
    margin-top: 9%;
    

}
.banner-title{
    font-size: 5rem;
    font-family: var(--Playfair);
    line-height: 1.2;
}
.banner-title span{
    font-family: var(--Playfair);
    color: #ffffff82;
}
.banner p{
    padding-left: 1rem 0 2rem 0;
    font-size: 1,2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 100%;
    margin: 10rem 0rem auto;
    color: #fff;
    font-family: 'Lato', sans-serif;
}
.button> a{
    background-color:#ffffff82;
    
    color: black;
    padding: 1.5rem 4rem;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid #fff;
}
.button :hover {
    background-color:BLACK;
    color:#fff;
    transition: 0.5s;
    
    
}
/*End of header styling*/
/*Start design styling*/
.design{
    padding: 4.5rem 0;

} 
.title{
    text-align: center;
    padding: 1rem 0;

}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
    
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
    font-family: var(--Playfair);
    
}
.design-content{
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.design-item{
    cursor: pointer;
    margin: 0;
}
.design-img{
    position: relative;
    overflow: hidden;


}
.design-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition: all.6s ease;
}
.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    content: "";
    top: 10px;
    left: 10px;
    background: var(--dark);
    padding: 0.25rem 1rem;
    color: #fff;


}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: slategrey;
    font-weight: 700;
    font-size: 1.1rem;

}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;


}
.design-title a{
    color: var (var(--dark));
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}
.design-title p{
    font-family: var(--Playfair);
}

.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;

}
.blog-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    gap: 2rem;
    margin: 2rem 0;
}
.blog-img{
    position: relative;

}
.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--dark);
    color: #fff;
    font-size: 1.4rem ;
    padding: 0.3rem o.6rem;

}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: .5rem;
    color: black;

}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;

}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9rem;
    padding-bottom:1.2rem;


}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    color: #fff;
    padding: .55rem 1.2rem;
    background: var(--dark);
    transition: all 01s ease;

}
.blog-text a:hover{
    background: black;
}
.about{
    padding: 3.5rem 0;

}
.about-content{
    display: grid;
    grid-template-columns:  1fr 1fr;
    column-gap: 3rem;
    align-items: center;

}
.about-text{
    margin: 5rem 0 ;

}
.about-text p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: .8;
}

footer{
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom:  1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 00.3rem;
    transition: all .5s ease;

}
.social-links a:hover{
    background-color: #ddd;
    color: var(--dark);


}
footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}.navbar-nav i{
    display: none;
}
@media only screen and (max-width:800px) {
    body{
        overflow-x: hidden;
    }
    .navbar-nav a{
        /* background-color: slategray;
         */
         display: none;
   
    
        }.navbar-nav i{
            display: block;
            font-size: 1.3rem;
            color: #fff;
            cursor: pointer;
            transition: opacity .5s ease;
        }.navbar-nav i:hover{
            opacity: .7;
        }.banner-title{ /* bu yergacha burgerchamiz brauzerni qisqartirganda kurinadi kattalashtirganda yuqoladi */
            font-size: 3.5rem;
            padding-bottom: 1.5rem;
        }.design-content{
            margin: 2rem 0;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 2rem;
        }.design-img{
            width: 100%;
            height: 370px;
        }.blog-content{
            display: grid;
            grid-template-columns: repeat(1, 1fr );
            gap: 2rem;
            margin: 2rem 0;
        }.about-content{
            display: grid;
            grid-template-columns:  100%;
            column-gap: 3rem;
            align-items: center;        
        }.change{
            background-color: black;
        }
}   
